@page "/users"

@using AutoMapper
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using PortalForgeX.Application.Data
@using PortalForgeX.Application.Tenants
@using PortalForgeX.Client.Components.ContextMenu
@using PortalForgeX.Components.Dialogs
@using PortalForgeX.Domain.Entities.Tenants
@using PortalForgeX.Persistence.EFCore
@using PortalForgeX.Shared.Features.Tenants

@rendermode RenderMode.InteractiveServer
@attribute [StreamRendering(true)]
@attribute [Authorize(Roles = SystemRolesNames.ADMIN)]

@inject IDbContextFactory<PortalContext> PortalContextFactory
@inject IDomainContextFactory DomainContextFactory
@inject IToastService ToastService
@inject IJSRuntime JSRuntime
@inject IMapper Mapper
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager Navigation

<PageTitle>Users</PageTitle>

<SectionContent SectionName="top-row">
    <BreadcrumbNavigation>
        <Breadcrumb DisplayText="Users" IconCssClass="fas fa-users-rectangle" />
    </BreadcrumbNavigation>
</SectionContent>

<div class="row">
    <div class="card">
        <div class="card-header">
            <div class="col-lg-8">
                <h1>
                    <span class="fas fa-users"></span>
                    Users Management
                </h1>
                <p class="m-0">Browse and manage the users.</p>
            </div>
            <div class="col-lg-4">
                <UserCreateDialog @rendermode="RenderMode.InteractiveServer" />
            </div>
        </div>
        <div class="card-body mt-0">
            <LoadingArea IsLoading="isLoading">
                @if (users.Any())
                {
                    <p>@users.Count() items found.</p>
                    <QuickGrid Items="users" Class="table table-striped">
                        <TemplateColumn Title="Email" SortBy="GridSort<TenantUserViewModel>.ByAscending(p => p.Email)">
                            <SwitchCircleIndicator IsOn="@context.IsActive" CssClass="me-2" Title="Active" OffTitle="Inactive" />
                            <span @onclick="@(() => NavigateTo(context))" role="button" title="View details of @context.Email">@context.Email</span>
                        </TemplateColumn>
                        <TemplateColumn Title="Name" SortBy="GridSort<TenantUserViewModel>.ByAscending(p => p.UserName)">
                            <span @onclick="@(() => NavigateTo(context))" role="button" title="View details of @context.UserName">@context.FirstName @context.LastName</span>
                        </TemplateColumn>
                        <TemplateColumn Title="Last logged in" SortBy="GridSort<TenantUserViewModel>.ByAscending(p => p.LastLoggedInTime)">
                            <NullableField Value="@context.LastLoggedInTime?.ToString("dd-MM-yyyy HH:mm")" />
                        </TemplateColumn>
                        <TemplateColumn>
                            <ContextMenu Model="@context">
                                <MenuItem TEntity="TenantUserViewModel" DisplayText="View" IconCss="fas fa-eye" OnSelected="(e) => NavigateTo(e)"></MenuItem>
                                <MenuItem TEntity="TenantUserViewModel" DisplayText="Delete" IconCss="fas fa-trash" OnSelected="async (e) => await DeleteAsync(e)"></MenuItem>
                            </ContextMenu>
                        </TemplateColumn>
                    </QuickGrid>
                }
                else
                {
                    <p class="text-muted">No users found.</p>
                }
            </LoadingArea>
        </div>
    </div>
</div>

@code {

    private IQueryable<TenantUserViewModel> users = null!;
    private bool isLoading;

    protected override Task OnInitializedAsync()
    {
        isLoading = true;

        var appUsers = UserManager.Users.ToArray();
        users = Mapper.Map<IEnumerable<TenantUserViewModel>>(appUsers).AsQueryable();

        isLoading = false;

        return Task.CompletedTask;
    }

    protected void NavigateTo(TenantUserViewModel user)
        => Navigation.NavigateTo($"user/{user.Id}");

    protected async Task DeleteAsync(TenantUserViewModel modelUser)
    {
        if (modelUser.Email == SystemUserAccounts.ADMIN_EMAIL)
        {
            ToastService.ShowError("You are not allowed to delete the root admin.");
            return;
        }

        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete user {modelUser.UserName}? Deleting is permanent.");
        if (!confirmed)
        {
            return;
        }

        var user = await UserManager.FindByIdAsync(modelUser.Id);
        if (user is null)
        {
            return;
        }

        var result = await UserManager.DeleteAsync(user);
        if (!result.Succeeded)
        {
            foreach (var errorMessage in result.Errors)
            {
                ToastService.ShowError(errorMessage.Description);
            }
            return;
        }

        if (modelUser.TenantId is not null)
        {
            using var portalContext = await PortalContextFactory.CreateDbContextAsync();
            var dbTenant = await portalContext.Tenants.FindAsync(modelUser.TenantId);
            if (dbTenant is null)
            {
                return;
            }

            using var domainContext = DomainContextFactory.CreateDomainContext(dbTenant);
            _ = await domainContext.UserProfiles
                .Where(x => x.UserId.Equals(modelUser.Id))
                .ExecuteDeleteAsync();
        }

        ToastService.ShowSuccess($"User {modelUser.Email} was succesfully deleted.");

        await OnInitializedAsync();
    }

}
