@inject IJSRuntime JSRuntime

<div class="field-filter numberbetween-filter mb-2">
    <label for="@inputId">@DisplayName</label>

    @if (!string.IsNullOrWhiteSpace(HelpText))
    {
        <HelpTextTool CssClass="p-0 px-2" Content="@HelpText" />
    }

    <div class="row">
        <small class="text-muted">Between:</small>
        <div class="col-lg-6">
            <input @bind="Model.Value" class="form-control @CssClass" id="@inputId" min="@Min" max="@Model.MaxValue" step="@Step" type="number" />
        </div>
        <div class="col-lg-6">
            <input @bind="Model.MaxValue" class="form-control @CssClass" id="@($"{inputId}Max")" min="@Model.Value" max="@Max" step="@Step" type="number" />
        </div>
    </div>

    @if (AppliedFilter is not null || AppliedFilter is not null)
    {
        <span class="badge bg-light text-dark cmd-filter-remove" role="button" title="Click to remove filters." @onclick="Reset">
            @DisplayName:
            @if (AppliedFilter is not null)
            {
                @AppliedFilter
            }
            @if (AppliedFilter is not null && AppliedFilter is not null)
            {
                <span class="text-muted mx-1">-</span>
            }
            @if (AppliedMaxFilter is not null)
            {
                @AppliedMaxFilter
            }
            <span class="fas fa-xmark ms-1 text-danger"></span>
        </span>
    }
</div>

@code {

    [Parameter]
    public NumberBetweenFieldFilter Model { get; set; } = default!;

    [Parameter]
    public string DisplayName { get; set; } = null!;

    [Parameter]
    public string? CssClass { get; set; }

    [Parameter]
    public object? AppliedFilter { get; set; }

    [Parameter]
    public object? AppliedMaxFilter { get; set; }

    [Parameter]
    public string? HelpText { get; set; }

    [Parameter]
    public object? Min { get; set; }

    [Parameter]
    public object? Max { get; set; }

    [Parameter]
    public string? Step { get; set; }

    [Parameter]
    public EventCallback ResetCallback { get; set; }

    private string inputId => DisplayName?.Replace(" ", "") + "NumberBetweenFilterInput";

    protected override async Task OnAfterRenderAsync(bool firstRender)
        => await JSRuntime.InvokeVoidAsync("formPageLoad");

    protected async Task Reset()
    {
        Model.Reset();
        AppliedFilter = null;

        await ResetCallback.InvokeAsync();
    }
}
